Django==4.2
djangorestframework==3.14.0
django-cors-headers==4.2.0
gunicorn==21.2.0
psycopg2-binary==2.9.6  # Si tu utilises PostgreSQL
mysqlclient==2.1.1  # Si tu utilises MySQL
pypdf==3.0.0  # Si tu utilises PyPDF
djangorestframework-simplejwt==5.2.2  # Si tu utilises SimpleJWT
