@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary-color: #4361ee;
  --primary-color-light: #9ba4fa;
  --primary-color-lighter: rgb(245, 249, 251);
  --secondary-color: #3f85f79a;
  --green-color-clair : #91f7bf;
  --green-color-fonce : #08a045;
  --red-color-clair : #f9bbc0;
  --red-color-fonce : #ef233c;
  --gray-color : #6c757d;
  --white-color : #ffffff;
}

/* Custom Header */
.Tete{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Title{
  font-size: 24px;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.Menu{
  display: flex;
  justify-content: center;
  align-items: center;

}

.Menu ul {
  gap: 10px;
}
.Menu ul li {
  padding: 5px; 
  border-radius: 5px;
  text-align: center;
}

.Menu ul li:hover {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color-light);

}


.Menu a:hover{
  color: var(--primary-color);
  text-align: center;
}


.Menu a{
 
  color: var(--white-color);
}



.Button{
  padding-right: 30px;
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
}

.Bar{
  position: relative;
  right: 50px;
  width: 700px;
  
}

.inBar{
  border: none;
  border-radius: 40px;
}

.inBar1{
  border: none;
  border-radius: 40px;
}

.Bout{
  position: relative;
  right: 95px;
  border-radius: 50px;
}

.tex{
   font-size: 23px;
   font-weight: bold;
   position: relative;
  top: 20px;
}


/* Custom Content */

.listBlocs{
  display: flex; 
  gap: 30px;
  background-color: var(--primary-color-lighter);
}

.list{
  padding-top: 40px;
  padding-left: 70px;
}

.form1{
  padding-top: 20px;
}

.empre{
  position: relative;
  bottom: 20px;
}
.blocmm{
 position: relative;
 top: 25px;
}

.but{
  position: relative;
  top: 20px;
  left: 720px;
}

/* Custom Footer */

.footer{
  display: flex;
  justify-content: center;
  background-color: var(--white-color);
  padding: 20px;
}

/* Custom register */
.register{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Custom login */
.login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-controle:focus {
  color: #384551;
  background-color: transparent;
  border-color: #696cff;
  outline: 0;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(105, 108, 255, 0.4);
}

/* Custom Dashbord */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.sidebar {
  width: 250px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: var(--primary-color);
  color: white;
  z-index: 100;
}

.sidebar-brand {
  height: 90px;
  padding: 1rem 0rem 1rem 2rem;
  background-color: var(--primary-color);
}

.sidebar-brand spam {
  display: inline-block;
  padding-right: 1rem;
}

.sidebar-menu {
  padding-top: 1rem;
}

.sidebar-menu li{
  width: 100%;
  margin-bottom: 1.7rem;
  padding-left: 2rem;
}

.sidebar-menu a{
  padding-left: 1rem;
  display: block;
  color: white;
  font-size: 17px;
}

.sidebar-menu a.active {
  background: var(--white-color);
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--primary-color);
  border-radius: 30px 0px 0px 30px;
  
}

.sidebar-menu a span:first-child {
  font-size: 1.5rem;
  padding-right: 1rem;
}

.main-content {
  margin-left: 250px;
 
} 

header{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  
  width: calc(100% - 100px);
  top: 0;
  z-index: 100;
}

header h2{
  color: #222;
}

header label span{
  font-size: 1.5rem;
  padding-right: 1rem;
}

.search-wrapper {
  border: 1px solid #ccc;
  border-radius: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

.search-wrapper span{
  display: inline-block;
  padding: 0rem 1rem;
  font-size: 1.2rem;
}

.search-wrapper input {
  height: 100%;
  padding: 0.5rem;
  border: none;
  outline: none;
}

.user-wrapper{
  display: flex;
  align-items: center;
}

.user-wrapper img{
  border-radius: 50%;
  margin-right: 1rem;
}

.user-wrapper small{
  display: inline-block;
  color: var(--gray-color);
}

main{
  margin-left: 250px;
  margin-top: 85px;
  padding: 2rem 1.5rem;
  background: #f1f5f9;
  min-height: calc(100vh - 90px);
} 

.cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  margin-top: 1rem;
}

.card-single {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 2rem;
  border-radius: 2px;
}

.card-single div:last-child span {
  font-size: 1.5rem;
  color: var(--primary-color);
  
}

.card-single div:first-child span{
  color: var(--gray-color);
  
}

.card-single:last-child {
  background: var(--primary-color); 
  
}

.card-single:last-child h1,
.card-single:last-child div:first-child span,
.card-single:last-child div:last-child span {
 color: #fff;
  
}

.recent-grid{
  margin-top: 3.5rem;
  display: grid;
  grid-template-columns: 70% auto;
}

.card{
  background: #fff;
  border-radius: 5px;
  
}

.card-header,
.card-body {
  padding: 1rem;
}

table{
  border-collapse: collapse;
}